{% extends "layouts/layout.html.twig" %}
{% block title %}Bien{% endblock %}

{% block content %}
    <div class="h-100">
        <div class="container mt-3 p-3 bg-white rounded">
            <h1>Liste des biens</h1>
            <div class="row m-auto p-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center text-capitalize">#</th>
                            <th scope="col" class="text-center text-capitalize">Type de bien</th>
                            <th scope="col" class="text-center text-capitalize">Etat general</th>
                            <th scope="col" class="text-center text-capitalize">Status propiete</th>
                            <th scope="col" class="text-center text-capitalize"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bien in biens %}
                            <tr>
                                <td scope="row" class="text-center">{{ loop.index }}</td>
                                <td scope="row" class="text-center">{{ bien.type_bien_id }}</td>
                                <td scope="row" class="text-center">{{ bien.etat_general }}</td>
                                <td scope="row" class="text-center">{{ bien.statut_propriete }}</td>
                                <td scope="row" class="position-relative">
                                    <div class="d-flex justify-content-around text-center align-items-end">
                                        <a href="biens/display-bien/{{ bien.id }}"><i class="fa-solid fa-eye"></i></a>
                                        <a><i class="fa-solid fa-pen"></i></a>
                                        <a><i class="text-red fa-solid fa-trash" data-bs-toggle="modal" id="{{ bien.id }}" data-bs-target="#confirm-choice"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
      
    <!-- Structure du modal -->
    <div class="modal fade" id="confirm-choice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-triangle-exclamation text-warning"></i> Attention</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <small class="text-muted mb-3">Vous voulez vraiment supprimer ce bien ?</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <a href="" class="btn btn-primary">Confirmer</a>
          </div>
        </div>
      </div>
    </div>

    <script>
        const trash = document.querySelectorAll('.fa-trash')
        const modal_body = document.querySelector('.modal-body')
        for(i=0; i<trash.length; i++) {
            trash[i].addEventListener('click', function(e) {
                console.log(this.id)
                input = document.createElement('input')
                input.setAttribute('type', 'hidden')
                input.setAttribute('value', this.id)
                modal_body.appendChild(input)
            })
        }
    </script
{% endblock %}